---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/70d670ad87b0564a/forecast/q/76034.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.041'
      Last-Modified:
      - Fri, 20 Mar 2015 14:08:35 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"forecast\": 1\n  }\n\t}\n\t\t,\n\t\"forecast\":{\n\t\t\"txt_forecast\":
        {\n\t\t\"date\":\"8:13 AM CDT\",\n\t\t\"forecastday\": [\n\t\t{\n\t\t\"period\":0,\n\t\t\"icon\":\"cloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/cloudy.gif\",\n\t\t\"title\":\"Friday\",\n\t\t\"fcttext\":\"Overcast.
        Slight chance of a rain shower. High 66F. Winds N at 10 to 15 mph.\",\n\t\t\"fcttext_metric\":\"Overcast.
        Slight chance of a rain shower. High 19C. Winds N at 15 to 25 km/h.\",\n\t\t\"pop\":\"20\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":1,\n\t\t\"icon\":\"nt_cloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/nt_cloudy.gif\",\n\t\t\"title\":\"Friday
        Night\",\n\t\t\"fcttext\":\"Cloudy. Low around 55F. Winds N at 5 to 10 mph.\",\n\t\t\"fcttext_metric\":\"Cloudy
        skies. Low 13C. Winds N at 10 to 15 km/h.\",\n\t\t\"pop\":\"10\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"period\":2,\n\t\t\"icon\":\"chancerain\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/chancerain.gif\",\n\t\t\[...]
